aiofiles
aiohttp
asyncio
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
lyricsgenius
motor
pillow
psutil
py-tgcalls==1.0.0.rc4
pykeyboard
pyromod
pyrogram
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
tgcrypto
numpy
yt-dlp
youtube-search
youtube-search-python
telegraph

